// stylelint-disable comment-empty-line-before, declaration-block-single-line-max-declarations, selector-class-pattern

/* Background .chroma { background-color: #f0f0f0; } */
/* Other .chroma .x { } */
/* Error */ .chroma .err { color: $functional-red; }
/* LineTableTD .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; } */
/* LineTable .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; } */
/* LineHighlight .chroma .hl { display: block; width: 100%; background-color: #ffffcc; } */
/* LineNumbersTable .chroma .lnt { margin-right: .4em; padding: 0 .4em; } */
/* LineNumbers .chroma .ln { margin-right: .4em; padding: 0 .4em; } */

/* Comment */ .chroma .c { color: #757575; }
/* CommentHashbang */ .chroma .ch { font-style: italic; color: $supporting-blue; }
/* CommentMultiline */ .chroma .cm { color: $gray-600; }
/* CommentPreproc */ .chroma .cp { color: $supporting-green; }
/* CommentPreprocFile */ .chroma .cpf { color: $functional-green; }
/* CommentSingle */ .chroma .c1 { color: $gray-600; }
/* CommentSpecial */ .chroma .cs { color: $gray-600; }
/* Generic .chroma .g { } */
/* GenericDeleted */ .chroma .gd { background-color: $supporting-pink; border: 1px solid $functional-red; }
/* GenericEmph */ .chroma .ge { font-style: italic; }
/* GenericError */ .chroma .gr { color: $functional-red; }
/* GenericHeading */ .chroma .gh { color: $supporting-green; }
/* GenericInserted */ .chroma .gi { background-color: $supporting-green; border: 1px solid $functional-green; }
/* GenericOutput */ .chroma .go { color: $supporting-purple; }
/* GenericPrompt */ .chroma .gp { color: $functional-blue; }
/* GenericStrong */ .chroma .gs { font-weight: 700; }
/* GenericSubheading */ .chroma .gu { color: $supporting-green; }
/* GenericTraceback */ .chroma .gt { color: $functional-green; }
/* GenericUnderline */ .chroma .gl { text-decoration: underline; }
/* Keyword */ .chroma .k { color: $supporting-yellow; }
/* KeywordConstant */ .chroma .kc { color: $supporting-green; }
/* KeywordDeclaration */ .chroma .kd { color: $supporting-yellow; }
/* KeywordNamespace */ .chroma .kn { color: $supporting-yellow; }
/* KeywordPseudo */ .chroma .kp { color: $supporting-yellow; }
/* KeywordReserved */ .chroma .kr { color: $supporting-yellow; }
/* KeywordType */ .chroma .kt { color: $supporting-yellow; }
/* Literal .chroma .l { } */
/* LiteralDate .chroma .ld { color: $accessible-orange } */
/* LiteralNumber */ .chroma .m { color: $accessible-orange; }
/* LiteralNumberBin */ .chroma .mb { color: $supporting-green; }
/* LiteralNumberFloat */ .chroma .mf { color: $accessible-orange; }
/* LiteralNumberHex */ .chroma .mh { color: $white; }
/* LiteralNumberInteger */ .chroma .mi { color: $accessible-orange; }
/* LiteralNumberIntegerLong */ .chroma .il { color: $accessible-orange; }
/* LiteralNumberOct */ .chroma .mo { color: $accessible-orange; }
/* LiteralString */ .chroma .s { color: $brand-orange; }
/* LiteralStringAffix */ .chroma .sa { color: $supporting-blue; }
/* LiteralStringBacktick */ .chroma .sb { color: $brand-orange; }
/* LiteralStringChar */ .chroma .sc { color: $brand-orange; }
/* LiteralStringDelimiter */ .chroma .dl { color: $supporting-blue; }
/* LiteralStringDoc */ .chroma .sd { font-style: italic; color: $brand-orange; }
/* LiteralStringDouble */ .chroma .s2 { color: $brand-orange; }
/* LiteralStringEscape */ .chroma .se { color: $brand-orange; }
/* LiteralStringHeredoc */ .chroma .sh { color: $brand-orange; }
/* LiteralStringInterpol */ .chroma .si { color: $functional-red; }
/* LiteralStringOther */ .chroma .sx { color: $brand-orange; }
/* LiteralStringRegex */ .chroma .sr { color: $supporting-green; }
/* LiteralStringSingle */ .chroma .s1 { color: $brand-orange; }
/* LiteralStringSymbol */ .chroma .ss { color: $functional-yellow; }
/* Name .chroma .n { } */
/* NameAttribute */ .chroma .na { color: $supporting-blue; }
/* NameBuiltin */ .chroma .nb { color: $supporting-green; }
/* NameBuiltinPseudo .chroma .bp { } */
/* NameClass */ .chroma .nc { color: $supporting-purple; }
/* NameConstant */ .chroma .no { color: $supporting-green; }
/* NameDecorator */ .chroma .nd { color: $supporting-purple; }
/* NameEntity */ .chroma .ni { color: $gray-600; }
/* NameException */ .chroma .ne { color: $functional-red; }
/* NameFunction */ .chroma .nf { color: $supporting-pink; }
/* NameFunctionMagic .chroma .fm { } */
/* NameLabel */ .chroma .nl { color: $supporting-purple; }
/* NameNamespace */ .chroma .nn { color: $supporting-green; }
/* NameOther .chroma .nx { } */
/* NameProperty .chroma .py { } */
/* NameTag */ .chroma .nt { color: $supporting-green; }
/* NameVariable */ .chroma .nv { color: $supporting-purple; }
/* NameVariableClass .chroma .vc { } */
/* NameVariableGlobal .chroma .vg { } */
/* NameVariableInstance .chroma .vi { } */
/* NameVariableMagic .chroma .vm { } */
/* Operator */ .chroma .o { color: $functional-yellow; }
/* OperatorWord */ .chroma .ow { color: $white; }
/* Punctuation */ .chroma .p { color: $functional-yellow; }
/* TextWhitespace */ .chroma .w { color: $gray-800; }

.chroma {
  .language-bash,
  .language-sh {
    &::before {
      color: $functional-blue;
      content: "$ ";
      user-select: none;
    }
  }

  .language-powershell::before {
    color: $functional-blue;
    content: "PM> ";
    user-select: none;
  }
}
